<div class="wrapper ">

  <app-categories></app-categories>


  <div class="main-panel">
    <!-- Navbar -->
    <app-top-navbar></app-top-navbar>
    <!-- End Navbar -->

    <!-- -- task -- -->
    <div class="task">
      <div class="container_fluid">
        <app-tasks></app-tasks>
      </div>
    </div>
    <!-- -- End task -- -->

    <!-- -- Content -- -->
    <!--         <app-content></app-content>-->
    <!-- -- End Content -- -->

    <!-- -- Footer -- -->
    <app-footer></app-footer>
    <!-- -- End Footer -- -->
  </div>
</div>
<div class="fixed-plugin">
  <div class="dropdown show-dropdown">
    <a data-toggle="dropdown" href="#">
      <i class="fa fa-cog fa-2x"> </i>
    </a>
    <ul class="dropdown-menu">
      <li class="header-title"> Sidebar Filters</li>
      <li class="adjustments-line">
        <a class="switch-trigger active-color" href="javascript:void(0)">
          <div class="badge-colors ml-auto mr-auto">
            <span class="badge filter badge-purple" data-color="purple"></span>
            <span class="badge filter badge-azure" data-color="azure"></span>
            <span class="badge filter badge-green" data-color="green"></span>
            <span class="badge filter badge-warning" data-color="orange"></span>
            <span class="badge filter badge-danger" data-color="danger"></span>
            <span class="badge filter badge-rose active" data-color="rose"></span>
          </div>
          <div class="clearfix"></div>
        </a>
      </li>
      <li class="header-title">Images</li>
      <li class="active">
        <a class="img-holder switch-trigger" href="javascript:void(0)">
          <img alt="" src="../assets/img/sidebar-1.jpg">
        </a>
      </li>
      <li>
        <a class="img-holder switch-trigger" href="javascript:void(0)">
          <img alt="" src="../assets/img/sidebar-2.jpg">
        </a>
      </li>
      <li>
        <a class="img-holder switch-trigger" href="javascript:void(0)">
          <img alt="" src="../assets/img/sidebar-3.jpg">
        </a>
      </li>
      <li>
        <a class="img-holder switch-trigger" href="javascript:void(0)">
          <img alt="" src="../assets/img/sidebar-4.jpg">
        </a>
      </li>
      <li class="button-container">
        <a class="btn btn-primary btn-block" href="https://www.creative-tim.com/product/material-dashboard" target="_blank">Free Download</a>
      </li>
      <!-- <li class="header-title">Want more components?</li>
          <li class="button-container">
              <a href="https://www.creative-tim.com/product/material-dashboard-pro" target="_blank" class="btn btn-warning btn-block">
                Get the pro version
              </a>
          </li> -->
      <li class="button-container">
        <a class="btn btn-default btn-block" href="https://demos.creative-tim.com/material-dashboard/docs/2.1/getting-started/introduction.html" target="_blank">
          View Documentation
        </a>
      </li>
      <li class="button-container github-star">
        <a aria-label="Star ntkme/github-buttons on GitHub" class="github-button" data-icon="octicon-star" data-show-count="true" data-size="large" href="https://github.com/creativetimofficial/material-dashboard">Star</a>
      </li>
      <li class="header-title">Thank you for 95 shares!</li>
      <li class="button-container text-center">
        <button class="btn btn-round btn-twitter" id="twitter"><i class="fa fa-twitter"></i> &middot; 45
        </button>
        <button class="btn btn-round btn-facebook" id="facebook"><i class="fa fa-facebook-f"></i> &middot; 50
        </button>
        <br>
        <br>
      </li>
    </ul>
  </div>
</div>
