<div class="row">
    <!-- <div class="col-lg-6 col-md-12"> -->
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-warning">
                <h4 class="card-title">Todo List</h4>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <thead class="text-warning">
                        <th class="number" >№</th>
                        <th class="name" >Name</th>
                        <th class="category" >Category</th>
                        <th class="priority" >Priotity</th>
                        <th class="date" >Date</th>
                        <th class="status" >Status</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let allTasks of tasks let i = index " [class.lineThrough]="allTasks.completed"  >
                            <td class="taskNumber"> {{ i + 1 }} </td>
                            <td class="taskTitle"> {{ allTasks.title }} </td>
                            <td class="taskCategory" [class.noCategory]="allTasks.category == null" > {{ allTasks.category != null ? allTasks.category.title : 'No Category' }} </td>
                            <td class="taskPriority" [class.noCategory]="allTasks.priority == null" > {{ allTasks.priority != null ? allTasks.priority.title : 'No Priority' }} </td>
                            <td class="taskDate" [class.noCategory]="allTasks.date == null"> {{ allTasks.date != null ? ( allTasks.date | date:'date' ) : 'Date Not Set' }} </td>
                            <td class="taskCompleted">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input checked class="form-check-input" type="checkbox" value=""
                                        [checked]="allTasks.completed"
                                        (click)="toggleTaskCompleted(allTasks)"
                                        >
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
